.button {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 160px;
    padding: 20px;
    overflow: hidden;
    border: none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font: normal 16px/1 "Times New Roman", Times, serif;
    color: rgba(0, 255, 0, 1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.7);
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.7);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.59);
    background-color: #333;
}

.textbox {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px 20px;
    border: 1px solid #b7b7b7;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font: normal 16px/normal "Times New Roman", Times, serif;
    color: #333;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(252, 252, 252, 1);
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.69) inset;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.69) inset;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
    margin: 10px;
}

.div {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal 16px/1 "Times New Roman", Times, serif;
    color: black;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 100px;
}

.title {
    size: 35px;
    color: red;
}